[submodule "devops"]
	path = devops
	url = git@github.com:MoussaabBadla/devops-bootcamp.git
[submodule "build-it/3-Pioneers"]
	path = build-it/3-Pioneers
	url = https://github.com/Ziouche-maroua/pioneer-pulse/
[submodule "build-it/404Finders"]
	path = build-it/404Finders
	url = https://github.com/SeM2x/fine-tuning
[submodule "build-it/Apex"]
	path = build-it/Apex
	url = https://github.com/ilyes-rhdi/mini-Notion-gql
[submodule "build-it/ArchiTects"]
	path = build-it/ArchiTects
	url = https://github.com/moncefy/BUILD-IT-API-FETCHING
[submodule "build-it/BobsTheBuilders"]
	path = build-it/BobsTheBuilders
	url = https://github.com/HaniOdh/BuildIT
[submodule "build-it/BrainWaves"]
	path = build-it/BrainWaves
	url = https://github.com/adelmerad/Pagination
[submodule "build-it/BugBusters"]
	path = build-it/BugBusters
	url = https://github.com/oussamatght/ChoufPrice-DZ-Platform-backend
[submodule "build-it/Build_X"]
	path = build-it/Build_X
	url = https://github.com/NesRina03/cauldron
[submodule "build-it/Builders"]
	path = build-it/Builders
	url = https://github.com/malak-bou/Web_RTC_Project.git
[submodule "build-it/DataDome"]
	path = build-it/DataDome
	url = https://github.com/glorynino/SmartMeetOS
[submodule "build-it/ForgeIT"]
	path = build-it/ForgeIT
	url = https://github.com/Lyna-li/Hotel-Management-System.git
[submodule "build-it/STARKS"]
	path = build-it/STARKS
	url = https://github.com/SamyBakiri/Email-Sender-Backgroung-jobs-Queues-Batch-proccessing
[submodule "build-it/asten"]
	path = build-it/asten
	url = https://github.com/HADIL19/student-opportunities.git
[submodule "build-it/gitIgnore"]
	path = build-it/gitIgnore
	url = https://github.com/WRH-05/BUILDIT-REVERSE-RPOXY
[submodule "build-it/1-so99or"]
	path = build-it/1-so99or
	url = https://github.com/wailman24/Caching
[submodule "build-it/2-OptiGami"]
	path = build-it/2-OptiGami
	url = https://github.com/Vixen-77/RAG-implementation/
